/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

h1, h2, p{
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 0;
}

h2 {
  margin-top: 20px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  resize: vertical;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 100%;
}


.table {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.table thead th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.table tbody td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border: 1px solid #dddfe1;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  border: 1px solid #dddfe1;
}
